
    
    <div class="container">
      
  
        <div class="forgot-password-container">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSz3GOa09_CQMYmfIdDYXaBzmcVTpSuvTeSpQ&s" alt="" class="insta-image">
          <img src="https://static.vecteezy.com/system/resources/previews/026/627/348/non_2x/lock-icon-symbol-design-illustration-vector.jpg"  style="height:50px;width:50px;text-align: center;"/>
    
          <h3>Trouble logging in?</h3>
        <p style="color:grey">Enter your email,pjone,or username and we'll send you a link to get back into your account</p>
           
            <form [formGroup]="forgotpasswordForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="emailOrUsername" ></label>
                <input
                  type="text"
                  id="emailOrUsername"
                  formControlName="emailOrUsername"
                  class="form-control" placeholder="Email,Phone, or Username"
                  [ngClass]="{'is-invalid': submitted && f['emailOrUsername'].errors}"
                />
                <div *ngIf="submitted && f['emailOrUsername'].errors" class="invalid-feedback">
                  <div *ngIf="f['emailOrUsername'].errors['required']" class="color:white">Email or Username is required</div>
                  <div *ngIf="f['emailOrUsername'].errors['pattern']">Please enter a valid email or username</div>
                </div>
              </div>
              <button type="submit" class="forgot-login">Send login link</button>
            <h1>Can't reset your password?</h1>
            <div class="line-with-text"><span>OR</span></div>
            <div>
              <a routerLink="/signup" class="signup-link">Create a new account</a>
            </div>
          </form>
        </div>
      </div>
      
        <app-footer></app-footer>
     
