/* Container to hold the home component and posts */
.page-container {
    display: flex;
    justify-content: center; /* Center the content horizontally */
  }
  
  .content-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the content vertically */
    margin-left: 250px;
    padding: 20px;
    width: calc(100% - 250px);
    overflow-x: hidden;
  }
  
  .posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .post {
    width: 350px; /* Adjust width as needed */
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #dbdbdb;
  }
  
  .post-header {
    display: flex;
    align-items: center;
  }
  
  .profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .username {
    font-weight: bold;
  }
  
  .post-image {
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .post-icons {
    display: flex;
    margin-top: 10px;
    padding: 0 10px;
    width: 100%;
  }
  
  .whole-icons {
    display: flex;
    justify-content: space-between;
  }
  
  .save-icon {
    margin-top: 10px;
  }
  
  .icon {
    width: 24px; /* Adjust size as needed */
    height: 24px; /* Adjust size as needed */
    cursor: pointer;
    margin-right: 10px;
  }
  
  .post-footer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 10px;
  }
  
  .caption {
    margin-top: 2px;
    padding-left: 8px;
  }
  
  /* Media queries for responsiveness */
  @media screen and (max-width: 768px) {
    .page-container {
      flex-direction: column; /* Stack content and sidebar vertically */
    }
  
    .content-container {
      width: 100%;
      margin-left: 0;
      padding: 10px;
      align-items: center; /* Center the content vertically */
      order: 0; /* Ensure content stays above sidebar */
    }
  
    .post {
      width: 50%; /* Adjust width for smaller screens */
    }
  
    .profile-picture {
      width: 30px;
      height: 30px;
    }
  
    .icon {
      width: 20px;
      height: 20px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .content-container {
      padding: 5px;
    }
  }