<div class="footer">
    <a href="#">Meta</a>
    <a href="#">About</a>
    <a href="#">Blog</a>
    <a href="#">Jobs</a>
    <a href="#">Help</a>
    <a href="#">API</a>
    <a href="#">Privacy</a>
    <a href="#">Terms</a>
    <a href="#">Locations</a>
    <a href="#">Instagram Lite</a>
    <a href="#">Threads</a>
    <a href="#">Contact Uploading & Non-Users</a>
    <a href="#">Meta Verified</a>
    <div class="language">
      <span>English</span>
    </div>
    <div class="copyright">
      <span>© 2024 Instagram from Meta</span>
    </div>
  </div>
